@import url('https://fonts.cdnfonts.com/css/pokemon-solid');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  height: 100vh;
  background-color: greenyellow;
  
}
.container {
  height: 100vh;
  border: 1px solid black;
  align-items: center;
  justify-content: center; 
  display: flex;
  flex-direction: column;
  background-image: url('./assets/pokeGrass.png');
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Pokemon Solid', sans-serif;

}
.pokeTabuleiro {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
width: 50%;
}

.pokeDiv{
  display: grid;
  width: 70%;
  grid-template-columns: 25% 25% 25% 25%;
  
  padding-bottom: 2rem;
  
}
.pokeCard{
  background-color: rgb(200, 255, 0);
 
   display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center; 
  color: white;
  text-shadow: -1px 1px 0 #000, 
                          1px 1px 0 #000, 
                         1px -1px 0 #000, 
                        -1px -1px 0 #000; 
  
}
img{
  height: 120px;
}
h1{
  font-size: 3rem;
color: yellow;
text-shadow: -1px 1px 0 #000, 
                          5px 5px 0 #000, 
                         5px -5px 0 #000, 
                        -5px -5px 0 #000; 
}